<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="sharpAHK" version="1.0.0.5" targetFramework="net451" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net48" developmentDependency="true" />
  <package id="Vortice.XInput" version="1.9.80" targetFramework="net48" />
</packages>